@font-face {
    font-family: "Micro 5";
    src: url(./font/Micro5-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Micro 5";
    font-size: 24px;
    color: white;
}

body {
    box-sizing: border-box;
    height: 100vh;
    padding: 30px 0 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("./images/pexels-prakash-aryal-38326.jpg");
    /* Photo by Prakash Aryal: https://www.pexels.com/photo/black-mountain-38326/ */
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
}

#search > form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#location {
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid white;
    text-indent: 12px;
    outline: none;
    background-color: transparent;
}

#location::placeholder {
    color: white;
}

#location + span {
    position: relative;
    color: rgb(255, 84, 84);
}

#location + span::before {
    position: absolute;
    bottom: -25px;
    left: calc(-200px - 10px);
    width: 300px;
}

.invalid + span::before {
    content: "Please enter a location";
}

.error + span::before {
    content: "No matching location found";
}

#location:hover,
#location:focus,
#submit-location:hover {
    box-shadow: 1px 1px 10px grey;
}

#submit-location {
    width: 80px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
}

.bg-info {
    background-color: rgb(0, 0, 0, 0.1);
}

.card-info {
    box-sizing: border-box;
    height: 50vh;
    width: calc(3*15vh + 2*1vw);
    border-radius: 10px;
    padding: 10px;
}

#forecast {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.box-forecast {
    height: 17vh;
    width: 15vh;
    border-radius: 10px;
}

#footer {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 50px;
}

#footer a {
    display: flex;
    align-items: center;
    gap: 5px;
}

#footer > a {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

#footer > a > span {
    margin-top: 4px;
}

#footer a:hover {
    box-shadow: 1px 1px 10px white;
    text-shadow: 1px 1px 10px white;
}

#api-wrapper {
    width: 200px;
}

#api-wrapper > a:hover {
    box-shadow: none;
}

/* Image */
#icon-location,
#icon-github {
    height: 30px;
}

#api-wrapper a > img {
    height: 40px;
}

#api-wrapper a:hover > img {
    height: 45px;
}